.home {
  display: flex;
  flex-direction: row;
  overflow: hidden;

  .content {
    width: 50%;
    overflow-y: auto;
    z-index: 2;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .figure {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .mainFigure {
      width: 60%;
      z-index: 1;
    }
  }
}

@media screen and (max-width: 1360px) {
  .home {
    flex-direction: column-reverse;
    text-align: center;
    .content {
      width: 100%;
    }

    .figure {
      img {
        display: none;
      }
    }
  }

}
